
// Mixin
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage
.container {
  width: 1000px;
  .center-block();
}

.matter {
  max-width: 500px;
  margin: 0px auto;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight:bold;
}


.list-group-horizontal .stage-item {
    display: inline-block;
}
.list-group-horizontal .stage-item {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 0;
}