
<div class="col-md-12">

  <div class="widget wgreen">

    <div class="widget-head">
      <div class="pull-left" ng-bind="changelogParams.id == null ? '添加更新日志' : '编辑更新日志'"></div>
      <div class="widget-icons pull-right">
        <a ng-click="close()" href="javascript:void(0);" class="wclose"><i class="icon-remove"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">
      <div class="padd">

        <!-- <h6>Input Boxs</h6>
        <hr> -->
        <!-- Form starts.  -->
        <form class="form-horizontal" role="form">
          <div class="form-group" ng-if="changelogParams.id">
            <label for="ID" class="col-lg-3 control-label">ID：</label>
            <div class="col-lg-8">
              <p ng-model="changelogParams.id" ng-bind="changelogParams.id" class="form-control-static" id="ID"></p>
            </div>
          </div>


          <div class="form-group">
            <label for="title" class="col-lg-3 control-label">标题：</label>
            <div class="col-lg-8">
              <input ng-model="changelogParams.title" type="text" class="form-control" id="title" placeholder="标题" />
            </div>
          </div>

          <div class="form-group">
            <label for="version" class="col-lg-3 control-label">版本号：</label>
            <div class="col-lg-8">
              <input ng-model="changelogParams.version" type="text" class="form-control" id="version" placeholder="版本号" />
            </div>
          </div>

          <div class="form-group">
            <label for="url" class="col-lg-3 control-label">版本地址：</label>
            <div class="col-lg-8">
              <input ng-model="changelogParams.url" type="text" class="form-control" id="url" placeholder="版本地址" />
            </div>
          </div>

          <div class="form-group">
            <label for="content" class="col-lg-3 control-label">更新日志：</label>
            <div class="col-lg-8">
              <textarea rows="10" ng-model="changelogParams.content" class="form-control" id="content" placeholder="更新日志"></textarea>
            </div>
          </div>
          
          <div class="form-group">
            <label for="nodeType" class="col-lg-3 control-label">应用类型：</label>
            <div class="col-lg-8">
              <ui-select ng-model="changelogParams.nodeType"> <ui-select-match placeholder="请选择是否应用类型...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="nodeType.type as nodeType in nodeTypes | filter: $select.search">
              <div ng-bind-html="nodeType.name | highlight: $select.search"></div>
              </ui-select-choices> </ui-select>
            </div>
          </div>
          
          <div class="form-group">
            <label for="status" class="col-lg-3 control-label">强制更新：</label>
            <div class="col-lg-8">
              <ui-select ng-model="changelogParams.force"> <ui-select-match placeholder="请选择是否强制更新...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="force.value as force in forces | filter: $select.search">
              <div ng-bind-html="force.name | highlight: $select.search"></div>
              </ui-select-choices> </ui-select>
            </div>
          </div>

        </form>
      </div>
    </div>
    <!-- <div class="widget-foot">
      Footer goes here
    </div> -->

    <div class="modal-footer">
      <button class="btn btn-danger" ng-click="cancel()">取消</button>
      <button class="btn btn-primary" ng-click="save()">确定</button>
    </div>

  </div>

</div>

