
<div class="col-md-12">

  <div class="widget wgreen">

    <div class="widget-head">
      <div class="pull-left" ng-bind="contentParams.id == null ? '添加内容' : '编辑内容'"></div>
      <div class="widget-icons pull-right">
        <a ng-click="close()" href="javascript:void(0);" class="wclose"><i class="icon-remove"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">
      <div class="padd">

        <!-- <h6>Input Boxs</h6>
        <hr> -->
        <!-- Form starts.  -->
        <form class="form-horizontal" role="form">
          <div ng-if="contentParams.id" class="form-group">
            <label for="ID" class="col-lg-3 control-label">ID：</label>
            <div class="col-lg-8">
              <p ng-model="contentParams.id" ng-bind="contentParams.id" class="form-control-static" id="ID"></p>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-lg-3 control-label">名称：</label>
            <div class="col-lg-8">
              <input ng-model="contentParams.name" type="text" class="form-control" id="name" placeholder="名称" />
            </div>
          </div>

          <div class="form-group">
            <label for="linkType" class="col-lg-3 control-label">链接类型：</label>
            <div class="col-lg-8">
              <ui-select ng-model="contentParams.linkType" ng-disabled="contentParams.id != null ? true : false"> <ui-select-match placeholder="请选择链接类型...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="linkType.type as linkType in linkTypes | filter: $select.search">
              <div ng-bind-html="linkType.name | highlight: $select.search"></div>
              </ui-select-choices> </ui-select>
            </div>
          </div>

          <!-- <div ng-if="!(contentParams.linkType == 'TOPIC_ID' || contentParams.linkType == 'BRAND_SECTION_ID' || contentParams.linkType == 'COMMON_SECTION_ID')" class="form-group"> -->
          <div class="form-group">
            <label for="linkValue" class="col-lg-3 control-label">链接内容：</label>
            <div class="col-lg-8">
              <input ng-model="contentParams.linkValue" type="text" class="form-control" id="linkValue" placeholder="链接内容" />
            </div>
          </div>
          
          <!-- <div ng-if="contentParams.linkType == 'TOPIC_ID' || contentParams.linkType == 'BRAND_SECTION_ID' || contentParams.linkType == 'COMMON_SECTION_ID'" class="form-group">
            <label for="linkValue" class="col-lg-3 control-label">链接内容：</label>
            <div class="col-lg-8">
              <ui-select id="linkValue" ng-model="contentParams.linkValue" ng-disabled="disabled" sortable="true"> <ui-select-match
                placeholder="请选择链接内容...">{{$item.name}} &lt;id:{{$item.id}}&gt;</ui-select-match> <ui-select-choices
                repeat="selectContent.id as selectContent in selectContents | filter: $select.search">
              <div ng-bind-html="selectContent.name | highlight: $select.search"></div>
              <small> id: <span ng-bind="selectContent.id"></span> linkType: <span ng-bind="selectContent.linkType"></span>
              </small> </ui-select-choices> </ui-select>

              <input ng-model="contentParams.linkValue" type="text" class="form-control" id="linkValue" placeholder="链接内容" />
            </div>
          </div> -->

          <div class="form-group" ng-if="contentParams.linkType == 'SERIAL_ID' ">
            <label for="vv" class="col-lg-3 control-label">视频播放量：</label>
            <div class="col-lg-8">
              <input ng-model="contentParams.vv" type="text" class="form-control" id="linkValue" placeholder="视频播放量" />
            </div>
          </div>

          <div class="form-group" ng-if="contentParams.linkType == 'VIDEO_ID' ">
            <label for="linkParentId" class="col-lg-3 control-label">链接父级编号：</label>
            <div class="col-lg-8">
              <input ng-model="contentParams.linkParentId" type="text" class="form-control" id="linkParentId" placeholder="链接父级编号" />
            </div>
          </div>
          
          <div class="form-group">
            <label for="nodeType" class="col-lg-3 control-label">应用类型：</label>
            <div class="col-lg-8">
              <ui-select ng-model="contentParams.nodeType"> <ui-select-match placeholder="请选择是否应用类型...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="nodeType.type as nodeType in nodeTypes | filter: $select.search">
              <div ng-bind-html="nodeType.name | highlight: $select.search"></div>
              </ui-select-choices> </ui-select>
            </div>
          </div>

          <div class="form-group">
            <label for="image" class="col-lg-3 control-label">展示图片：</label>
            <div class="col-lg-8">
              <input ng-model="contentParams.image" type="text" class="form-control" id="image" placeholder="展示图片" />
            </div>
          </div>

          <div class="form-group">
            <label for="rank" class="col-lg-3 control-label">展示顺序：</label>
            <div class="col-lg-8">
              <input ng-model="contentParams.rank" type="text" class="form-control" id="rank" placeholder="展示顺序" />
            </div>
          </div>

          <div class="form-group">
            <label for="status" class="col-lg-3 control-label">启用状态：</label>
            <div class="col-lg-8">
              <ui-select ng-model="contentParams.status"> <ui-select-match placeholder="请选择内容状态...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="status.value as status in statuses | filter: $select.search">
              <div ng-bind-html="status.name | highlight: $select.search"></div>
              </ui-select-choices> </ui-select>
            </div>
          </div>

        </form>
      </div>
    </div>
    <!-- <div class="widget-foot">
      Footer goes here
    </div> -->

    <div class="modal-footer">
      <button class="btn btn-danger" ng-click="cancel()">取消</button>
      <button class="btn btn-primary" ng-click="save()">确定</button>
    </div>

  </div>

</div>

