<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="FileUploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
  <div class="col w-lg bg-light b-r bg-auto">
    <div class="wrapper-md dker b-b">
      <h3 class="m-n font-thin">选择文件</h3>
    </div>
    <div class="wrapper-md">
      <div ng-show="uploader.isHTML5" class="m-b-md">
        <!-- 3. nv-file-over uploader="link" over-class="className" -->
        <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">文件拖曳上传</div>

        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <!-- <div nv-file-drop="" uploader="uploader" options="{ url: '/file/upload' }">
              <div nv-file-over="" uploader="uploader" over-class="b-danger" class="b-a b-2x b-dashed wrapper-lg lter text-center">
                  Another drop zone with its own settings
              </div>
          </div> -->
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <p>多文件上传</p>
      <input type="file" nv-file-select="" uploader="uploader" multiple />

      <p class="m-t-md">单文件上传</p>
      <input type="file" nv-file-select="" uploader="uploader" />
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col">
    <div class="wrapper-md bg-light dk b-b">
      <span class="pull-right m-t-xs">队列长度: <b class="badge bg-info" ng-bin="uploader.queue.length"></b></span>
      <h3 class="m-n font-thin">上传队列</h3>
    </div>
    <div class="wrapper-md">
      <p class="alert alert-warning">
        注：最大允许上传文件大小为<span ng-bind="fileUploadMaxSize/1024/1024 + 'MB'"></span>
      </p>
      <table class="table bg-white-only b-a">
        <thead>
          <tr>
            <th class="col-md-2">文件名</th>
            <th class="col-md-1" ng-show="uploader.isHTML5">文件大小</th>
            <th class="col-md-2" ng-show="uploader.isHTML5">上传进度</th>
            <th class="col-md-1 text-center">状态</th>
            <th class="col-md-4">外链</th>
            <th class="col-md-2">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in uploader.queue" ng-if="item.file.size <= fileUploadMaxSize">
            <td><strong ng-bind="item.file.name"></strong></td>
            <td ng-show="uploader.isHTML5" nowrap ng-bind="(item.file.size/1024/1024|number:2) + 'MB'"></td>
            <td ng-show="uploader.isHTML5">
              <div class="progress progress-sm m-b-none m-t-xs">
                <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center"><span ng-class="item.isSuccess ? 'text-success' : 'text-default'"><i class="glyphicon"
                ng-class="item.isSuccess ? 'glyphicon-ok' : 'glyphicon-pause'"></i></span> <span ng-show="item.isCancel" class="text-warning"><i
                class="glyphicon glyphicon-ban-circle"></i></span> <span ng-show="item.isError" class="text-danger"><i
                class="glyphicon glyphicon-remove"></i></span></td>
            <td nowrap ng-init="url = (fileUrlPrefix + '/' + item.file.name | encodeURI)"><a ng-show="item.isSuccess" href="{{url}}"
              ng-bind="url" target="_blank"></a></td>
            <td nowrap>
              <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()"
                ng-disabled="item.isReady || item.isUploading || item.isSuccess">上传</button>
              <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">取消</button>
              <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <div>
          <p>总上传进度：</p>
          <div class="progress bg-light dker" style="">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-addon btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <i class="icon icon-cloud-upload"></i> 全部上传
        </button>
        <button type="button" class="btn btn-addon btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
          <i class="icon icon-ban-circle"></i> 全部取消
        </button>
        <button type="button" class="btn btn-addon btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
          <i class="icon icon-trash"></i> 全部删除
        </button>
      </div>
    </div>
  </div>
</div>