
<div class="col-md-12">

  <div class="widget wgreen">

    <div class="widget-head">
      <div class="pull-left" ng-bind="moduleContentParams.id == null ? '添加模块内容' : '编辑模块内容'"></div>
      <div class="widget-icons pull-right">
        <a ng-click="close()" href="javascript:void(0);" class="wclose"><i class="icon-remove"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">
      <div class="padd">

        <!-- <h6>Input Boxs</h6>
        <hr> -->
        <!-- Form starts.  -->
        <form class="form-horizontal" role="form">
          <div class="form-group" ng-if="moduleContentParams.id">
            <label for="ID" class="col-lg-3 control-label">ID：</label>
            <div class="col-lg-8">
              <p ng-model="moduleContentParams.id" ng-bind="moduleContentParams.id" class="form-control-static" id="ID"></p>
            </div>
          </div>

          <div ng-if="!moduleContentParams.id" class="form-group">
            <label for="contentId" class="col-lg-3 control-label">模块内容：</label>
            <div class="col-lg-8">
              <ui-select multiple id="contentId" ng-model="moduleContentParams.contentIds" ng-disabled="disabled" sortable="true"
                close-on-select="false"> <ui-select-match placeholder="请选择模块内容...">{{$item.name}} &lt;id:{{$item.id}}&gt;</ui-select-match> <ui-select-choices
                repeat="selectContent.id as selectContent in selectContents | filter: $select.search">
              <div ng-bind-html="selectContent.name | highlight: $select.search"></div>
              <small> id: <span ng-bind="selectContent.id"></span> linkType: <span ng-bind="selectContent.linkType"></span>
              </small> </ui-select-choices> </ui-select>
            </div>
          </div>

          <div class="form-group">
            <label for="rank" class="col-lg-3 control-label">展示顺序：</label>
            <div class="col-lg-8">
              <input ng-model="moduleContentParams.rank" type="text" class="form-control" id="rank" placeholder="展示顺序" />
            </div>
          </div>

          <div class="form-group">
            <label for="status" class="col-lg-3 control-label">启用状态：</label>
            <div class="col-lg-8">
              <ui-select ng-model="moduleContentParams.status"> <ui-select-match placeholder="请选择内容状态...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="status.value as status in statuses | filter: $select.search">
              <div ng-bind-html="status.name | highlight: $select.search"></div>
              </ui-select-choices> </ui-select>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-danger" ng-click="cancel()">取消</button>
      <button class="btn btn-primary" ng-click="save()">确定</button>
    </div>

  </div>

</div>

