
<div class="row" ng-controller="ModuleCtrl">

  <div class="col-md-12">

    <div class="filter-block">
      <div class="col-md-2">
        <div class="form-group">
          <label for="id" class="col-lg-3 control-label">id：</label>
          <div class="col-lg-9">
            <input ng-model="queryParams.id" type="text" class="form-control" id="id" placeholder="id" />
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="name" class="col-lg-4 control-label">名称：</label>
          <div class="col-lg-8">
            <input ng-model="queryParams.name" type="text" class="form-control" id="name" placeholder="名称" />
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <ui-select allow-clear ng-model="queryParams.nodeType" theme="bootstrap"> <ui-select-match placeholder="请选择应用类型...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="nodeType.type as nodeType in nodeTypes | filter: $select.search">
          <div ng-bind-html="nodeType.name | highlight: $select.search"></div>
          </ui-select-choices> </ui-select>
          <span class="input-group-btn">
            <button ng-click="queryParams.nodeType = undefined" class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <ui-select ng-model="queryParams.templateType"> <ui-select-match placeholder="请选择模版类型...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="templateType.type as templateType in templateTypes | filter: $select.search">
          <div ng-bind-html="templateType.name | highlight: $select.search"></div>
          </ui-select-choices> </ui-select>
          <span class="input-group-btn">
            <button ng-click="queryParams.templateType = undefined" class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <ui-select ng-model="queryParams.status"> <ui-select-match placeholder="请选择模块状态...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="status.value as status in statuses | filter: $select.search">
          <div ng-bind-html="status.name | highlight: $select.search"></div>
          </ui-select-choices> </ui-select>
          <span class="input-group-btn">
            <button ng-click="queryParams.status = undefined" class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <button ng-click="query()" class="btn btn-primary">查询</button>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget">

      <div class="widget-head">
        <div class="pull-left">模块列表</div>
        <div class="widget-icons pull-right">
          <button ng-click="openSaveDialog()" class="btn btn-primary">添加</button>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="widget-content">

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>id</th>
              <th>名称</th>
              <!-- <th>模块类型</th> -->
              <th>模版类型</th>
              <th class="hidden-xs">图片预览</th>
              <th>应用类型</th>
              <th>展示顺序</th>
              <th>状态</th>
              <th class="hidden-xs">创建时间</th>
              <th class="hidden-xs">更新时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="module in data.contents">
              <td ng-bind="(data.page - 1) * data.size + $index + 1"></td>
              <td ng-bind="module.id"></td>
              <td ng-bind="module.name"></td>
              <!-- <td ng-bind="module.type | showModuleTypeName" title="{{module.type}}"></td> -->
              <td ng-bind="module.templateType | showTemplateTypeName" title="{{module.templateTypeIndex}}"></td>
              <td class="hidden-xs"><a ng-if="module.image" ng-href="{{module.image}}" target="_blank"><img ng-src="{{module.image}}"
                  height="48" /></a></td>
              <td ng-bind="module.nodeType | showNodeTypeName"></td>
              <td ng-bind="module.rank"></td>
              <td><span class="label" ng-class="module.status ? 'label-success' : 'label-danger'" ng-bind="module.status ? '有效' : '无效'"></span></td>
              <td class="hidden-xs" ng-bind="module.createTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
              <td class="hidden-xs" ng-bind="module.updateTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
              <td><a class="btn btn-xs btn-primary" ng-click="showPushPage(module)"><i class="icon-plus"></i></a>
                <button ng-click="openSaveDialog(module)" class="btn btn-xs btn-warning">
                  <i class="icon-pencil"></i>
                </button>
                <button ng-click="changeStatus(module)" class="btn btn-xs" ng-class="module.status ? 'btn-danger' : 'btn-success'">
                  <i ng-class="module.status ? 'icon-remove' : 'icon-ok'"></i>
                </button>
                <button ng-click="del(module)" class="btn btn-xs btn-danger">
                  <i class="icon-trash"></i>
                </button>
                <button ng-if="isSuperAdmin" ng-click="forceDel(module)" class="btn btn-xs btn-danger">
                  <i class="icon-trash"></i> 强删
                </button></td>
            </tr>

          </tbody>
        </table>

        <div class="widget-foot container-fluid">
          <span class="pagination-info"> 分页信息: <span class="label label-default"> <span ng-bind="data.contents.length"></span> / <span
              ng-bind="data.totalCount"></span>
          </span>
          </span>
          <pagination class="pull-right" ng-change="pageChanged()" boundary-links="true" rotate="true" previous-text="上一页" next-text="下一页"
            first-text="第一页" last-text="最后一页" total-items="data.totalCount" ng-model="currentPage" max-size="data.size" items-per-page="data.size"></pagination>
          <div class="clearfix"></div>
        </div>

      </div>

    </div>

  </div>
  <!-- .row -->

</div>
<!-- .col-md-12 -->